<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Sobre </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="@{'public/stylesheets/css/bootstrap.css'}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="@{'public/stylesheets/css/font-awesome.min.css'}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="@{'public/stylesheets/css/style.css'}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="@{'public/stylesheets/css/responsive.css'}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    
    <!-- header section strats -->
    
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

     
        <div class="col-md-12">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                O que é OffShore?
              </h2>
            </div>
            <p style="text-align: justify;">
              Logo após a crise petrolífera por volta dos anos 1970, o planeta identificou um novo problema que poderia causar danos irreversíveis aos recursos naturais. Dessa forma pensou-se em um desenvolvimento sustentável, o setor elétrico foi alcançado por esses fatos, e, nas últimas décadas, vem-se desenvolvendo novas tecnologias buscando gerar energia de forma mais limpa e com o menor impacto ao planeta terra.
Com o avanço da Energia eólica, desde muito tempo atrás, a humanidade utiliza o vento para realizar algumas de suas atividades, impulsionar as velas das suas embarcações para o transporte, etc. Nos últimos anos, esse mecanismo é utilizado para gerar energia elétrica, uma energia limpa e de baixo impacto ambiental, que inicialmente se concentrou na área terrestre (onshore  1*LINK AQUI ), por ser composta por pás, estas turbinas eólicas transformam a energia cinética (energia do movimento) em energia rotativa mecânica, sendo então utilizada para produzir a eletricidade através de um gerador que, por sua vez é conectado às redes de distribuição. A energia eólica é uma fonte de energia renovável, limpa e inesgotável que vem sendo utilizada há séculos, com as tecnologias disponíveis em cada momento e com diferentes funções.
Atualmente, os Sistemas de geração eólicos ganham os mares (offshore 2*LINK AQUI ) do planeta. A geração eólica offshore iniciou-se em países que não possuíam uma grande extensão de terra, como a Dinamarca, Reino Unido e Alemanha, mas essa tecnologia está se espalhando para o resto do mundo.
O aproveitamento da energia eólica offshore requer a instalação de gigantes parques eólicos, que contam com grandes turbinas eólicas equipadas com a mais recente tecnologia. O projeto, a construção, o transporte e a instalação dessas megaestruturas em alto mar representa um desafio técnico, tecnológico e governamental. Altamente refinado com a experiência que requer um processo que dura vários anos para operação.
 A força do vento é até 4 vezes mais potente no oceano do que na terra, tal desenvolvimento da energia eólica offshore nos últimos anos. Até recentemente, ao se basear-se em estruturas fixas, não era possível sua instalação em lugares muito profundos ou com fundos marinhos complexos, algo que mudou com o aparecimento das estruturas flutuantes. Agora, os aerogeradores podem ser instalados sobre essas plataformas, são fixadas no fundo, marinho por ancoragens flexíveis, correntes ou cabos de aço.
Os cabos de transmissão são colocados por baixo das águas, direcionado para uma Subestação de transmissão, tudo isso em operação no mar. depois essa energia será transportada e jogada na rede elétrica convencional (em terra) fazendo assim, a energia produzida em quilômetros da costa, ou seja, em alto mar chegando até a sua residência de forma mais barata e eficiente.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">

       

        
       
      
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="@{'public/javascripts/js/jquery-3.4.1.min.js'}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="@{'public/javascripts/js/bootstrap.js'}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="@{'public/javascripts/js/custom.js'}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>