<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title>OffShore</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="@{'public/stylesheets/css/bootstrap.css'}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="@{'public/stylesheets/css/font-awesome.min.css'}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="@{'public/stylesheets/css/style.css'}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="@{'public/stylesheets/css/responsive.css'}" rel="stylesheet" />


<style>

#divPesquisar{
  margin-left: auto;
  m

}

</style>


</head>

<body>

 <div class="hero_area">
    <div class="bg-box">
      <img src="@{'public/images/images/Offset Noticias.jpg'}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="@{TelaInicial.index}">
            <span>
              Offset
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                
                
              </li>
              
                
              </li>
              <li class="nav-item">
                
              </li>
              <li class="nav-item">
                
              </li>
            </ul>
            <div class="user_option">
              
              <br/>
              <a href="@{cadastro.cadastropagina}" class="order_online">
                Cadastre-se
              </a>
              <a href="@{Logins.form}" class="order_online">
                Login
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                     O melhor do momento!
                    </h1>
                    <p>
                      Aqui você encontra as melhores notícias do momento, e também pode compartilhar as suas! Sinta-se a vontade para fazer parte da nossa comunidade!
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- offer section -->

  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="container ">
        <div class="row">
          <div class="col-md-6  ">
           
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  <!-- food section -->

  <form class="form-inline">
    <div id="divPesquisar">
    <input type="search" class="form-control rounded" placeholder="Pesquisar" aria-label="Search" aria-describedby="search-addon" />
    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  </form>

  <sec  tion class="food_section layout_padding-bottom">
    
    <div class="container">
    

      <div class="filters-content">
      <div class="row grid">
        #{list items:postagens, as:'p'}
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="@{'public/images/images/about-img.png'}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  ${p.titulo}
                </h5>
                <p>
                  ${p.descricao}
                </p>
                 <p>
                  ${p.autor}
                </p>
                <p>
                  ${p.ano}
                </p>
                
                
                
                
                
                
                
                <form class="form-inline">
                <a href="#"><button class="btn  my-2 my-sm-0 nav_search-btn" type="submit" class="order_online" style="background-color: darkgoldenrod; border-radius: 20px;">
                  linkagem da news
                  </button></a>
                </form>
              </div>
            </div>
          </div>
        </div>
        #{/list}
        
        
        
        
        
        
        

      </div>
    </div>

      
     
      
    

      <div class="btn-box">
        <a href="@{SaibaMais.about}">
          Saiba Mais
        </a>
      </div>
    </div>
  </section>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- footer section -->

  <!-- jQery -->
  <script src="@{'public/javascripts/js/jquery-3.4.1.min.js'}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="@'{public/javascripts/js/bootstrap.js'}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="@{'public/javascripts/js/custom.js'}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>