<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>OffShoreNotices</title>
<link rel="stylesheet" href="<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">"
</head>
<body>

<form action = "@{postagens.salvar}">

<div class="mb-3" style="color: blue;">
  <label class="form-label">Titulo:</label>
  <input type="text" class="form-control" name="p.titulo" value="${edit?.titulo}"placeholder="Digite o titulo da postagem">
</div>
<div class="mb-3" style="color: blue;">
  <label class="form-label">Descrição:</label>
  <textarea class="form-control"rows="3" name="p.conteudo" value="${edit?.conteudo}"></textarea>
</div>
<div class="mb-3" style="color: blue;">
  <label class="form-label">Autor: </label>
  <input type="text" class="form-control" name="p.autor" value="${edit?.autor}" placeholder="Digite o seu nome">
</div>
<button type="submit" class="btn btn-primary" href="@{postagens.salvar}">Enviar</button>
<button type="reset" class="btn btn-danger">Limpar</button>


</form>

</body>
</html>

