#{extends 'main.html' /}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Página Usuário</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="@{'public/stylesheets/css/bootstrap.css'}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="@{'public/stylesheets/css/font-awesome.min.css'}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="@{'public/stylesheets/css/style.css'}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="@{'public/stylesheets/css/responsive.css'}" rel="stylesheet" />



<style>

#navbarOFF {
  background-color: brown;
}

#h1Publicações{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

</style>

</head>
<body style="background-color: black;">


  <h1 id="h1Publicações">Minhas publicações</h1>

  <sec  tion class="food_section layout_padding-bottom">
    
    <div class="container">
    

      <div class="filters-content">
      <div class="row grid">
        #{list items:postagens, as:'p'}
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="" class="img-thumbnail" alt="...">
              </div>
              <div class="detail-box">
                <h5>
                  ${p.titulo}
                </h5>
                <p>
                  ${p.descricao}
                </p>
                 <p>
                  ${p.autor}
                </p>
                <p>
                  ${p.ano}
                </p>
                
                
                
                
                
                
                
                <form class="form-inline">
                <a href="#"><button class="btn  my-2 my-sm-0 nav_search-btn" type="submit" class="order_online" style="background-color: darkgoldenrod; border-radius: 20px;">
                  linkagem da news
                  </button></a>
                </form>
              </div>
            </div>
          </div>
        </div>
        #{/list}
        
        
        
        
        
        
        

      </div>
    </div>

      
     
      
    

     
    </div>
  </section>

</body>
</html>>



</html>